[Unit]
Description=Servicio que corre el servidor
After=network.target

[Service]
Type=simple
ExecStart=/home/sofia/Documents/OperativosII/soii---2022---laboratorio-vi-sofia-am/main
Restart=always
ExecReload=/home/sofia/Documents/OperativosII/soii---2022---laboratorio-vi-sofia-am/main reload

[Install]
WantedBy=multi-user.target